<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Error find fuel</title>
</head>
<body>
<h3>Nie znaleziono wpisu nr <a style="color:red" th:text="'id: ' + ${fuel.id}"/> w bazie danych!</h3>

<div><a href="/update">Wróć do edycji</a></div>
<div><a href="/">Strona główna</a></div>
</body>
</html>