<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
<title>Find all</title>
</head>
<body>
<h1> Lista wszystkich zapisanych tankowań</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Cena</th>
        <th>Kwota</th>
    </tr>
<tr th:each="fuel : ${allFuels}">
    <td th:text="${fuel.id}"></td>
    <td th:text="${fuel.date}"></td>
    <td th:text="${fuel.price}"></td>
    <td th:text="${fuel.amount}"></td>
</tr>
</table>
		<div><a href="/">Strona główna</a></div>

</body>
</html>